/*<!-- Shannon Hanlon
shannonhanlon17@gmail.com
Assignment 0
Start to My Website -->*/
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
.links a {
	color: gray;
}
.col-sm-2 {
	list-style: none;
	font-size: 18px
}
.navbar.navbar-inverse {
	list-style: none;
}
p {
	color:cadetblue;
	font:italic;
}
* {
	color:cadetblue;
}
body p {
	color:gray;
}
footer p {
	color:gray;
	font-size: 50%
}
.myname {
	color: gray;
	font-size: 200%
}
.bigwords {
	color:black;
}